:root{
    --cor-principal:#344955;
    --cor-hover: #35374B; 
    --cor-secundaria:#50727B;
    --cor-terciaria:#F6F6F6;
    --cor-quartenaria:#78A083; 
    --cor-opcional: #F85A3E;  
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-terciaria);
}

.destaque-titulo{
    color: var(--cor-secundaria);
}

.habilidade{
    color: var(--cor-quartenaria);
}

.apresentacao{
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao_conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_conteudo_titulo{
    font-size: 2.25rem;
    font-family: "Fira Code", monospace;
}

.apresentacao_subt{
    font-size: 1.5rem;
    font-family: "Fira Code", monospace;
    font-weight: 400;
}

.apresentacao_p{
    font-size: 1.5rem;
    font-family: "Fira Code", monospace;
}

.apresentacao_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao_imagem{
    width: 50%;
}

.apresentacao_button{
display: flex;
justify-content: center;
gap: 16px;
width: 50%;
text-align: center;
border-radius: 8px;
font-size: 1.5rem;
padding: 21.5px 0;
text-decoration: none;
color: var(--cor-terciaria);
border: 2px solid var(--cor-quartenaria);
font-family: "Fira Code", monospace;
}

.apresentacao_button:hover {
background-color: var(--cor-hover);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
    text-decoration: none;
  }
  
  .cabecalho_menu{
      display: flex;
      gap: 80px;
      text-decoration: none;
  }
  
  .cabecalho_menu_link{
      font-family: "Fira Code", monospace;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--cor-quartenaria);
}

.rodape{
    padding: 24px;
    color: black;
    background-color: var(--cor-quartenaria);
    text-align: center;
    font-family: "Fira Code", monospace;
    font-size: 1.5rem;
    font-weight: 400;
}

@media(max-width: 1200px){
   
    .cabecalho{
        padding: 10%;
    }
    .cabecalho_menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao_conteudo{
       width: auto;
    }
}